* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    /* height: 100vh; */
    background-image: url('../images/coins.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
    color: silver;
    background-color: black;
} 

.no-text-background {
    background-image: url('../images/ripples.png');
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, .active {
    border-bottom: 1px solid silver;
}

li {
    list-style-type: none;
}

/* IMAGE BLENDING AND USER QUESTION */

#blended-image {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

#ripples-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: ripples-fade-out;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

#user-question {
    position: absolute;
    text-align: center;
    left: 3vw;
    top: 3vw;
    right: 35%;
    font-size: 2vw;
    opacity: 0;
    animation-name: text-fade-in;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#user-question p {
    font-size: 1.4rem;
}

@media screen and (max-width:768px) {
    #user-question {
        top: 40%;
        bottom: 50%;
        left: 10%;
        right: 10%;
    }

    #user-question h1 {
        font-size: 6vw;
    }
    
}

/* HEADER STYLING - common to all pages */
header {
    width: 100%;
    height: 10vh;
    background-color: black;
}

#title-and-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#title-and-logo img {
    margin-left: 30px;
    height: 8vh;
    object-fit: contain;
}

#title-and-logo img:hover {
    content: url('../images/site-icon-brighter.png')
}

#site-icon-link:hover {
    border: none;
}

nav li {
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 30px;
    height: 10vh;
    line-height: 10vh;
}

@media screen and (max-width: 600px) {
    header {
        font-size: .75rem;
    }

    #title-and-logo img {
        height: 40px;
        margin-left: 5px;
    }

    nav li {
        font-size: 0.8rem;
        margin-right: 10px;
    }
}

/* FOOTER STYLING - Common to all pages */

footer {
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
}

#copyright-message {
    font-style: italic;
    float: left;
    padding-left: 2vw;
}

#social-links {
    font-size: 1.7rem;
    float: right;
}

#social-links i {
    margin-right: 12vw;
}

@media screen and (max-width:600px) {
    #copyright-message {
        font-size: 0.8rem;
    }

    #social-links {
        font-size: 1.2rem;
    }

    #social-links i {
        margin-right: 20px;
    }

    footer span {
        display: none;
    }
}

/* SITE RATIONALE */
#site-rationale {
    position: absolute;
    width: 30vw;
    text-align: center;
    right: 0;
    line-height: 140%;
}

#user-welcome {
    background-color: rgb(100, 0, 0, 0.7);
}

#corporate-contact {
    background-color: rgb(0, 0, 100, 0.7);
}

.user-message {
    padding: 10px 10px;
    margin: 0 auto;
}

.user-message h2{
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    #site-rationale {
        width: 40vw;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 600px) {
    #site-rationale {
        width: 100%;
        line-height: 120%;
    }
}

/* NAVIGATION ICONS */

#navigation-section {
    width: 100%;
    position: fixed;
    bottom: 80px;
    text-align: center;
    color: black;
}

#navigation-icons {
    padding: 10px 0;
    display: inline-block;
    font-size: clamp(1rem, 4vw, 3rem);
    background-color:silver;
    border-radius: 10px;
    border: 1px solid #444444;
}

#navigation-icons i {
    padding: 10px;
    color: silver;
    border-radius: 10px;
    background-color: rgba(148, 79, 15, 0.5);
}

#navigation-icons div {
    display: inline-block;
    width: 25vw;
}

#navigation-icons a:hover i {
    background-color: rgb(255, 160, 30, 0.5);
}

/* Driving.html and household.html*/

#container {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 60px;
}

.tip-panel {
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    height: 100%;
    max-width: 23%;
    width: 23%;
    margin: 0 20px;
    text-align: center;
    overflow-wrap: break-word;
    border-radius: 10px;
    font-size: 1.0rem;
    overflow: auto;
}

.tip-panel h1,
h4 {
    text-align: center;
}

.tip-panel p,
.tip-panel li {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.tip-panel img {
    height: 50%;
    max-width: 80%;
    min-width: 80%;
    margin: 5% 20px;
    object-fit: contain;
    box-sizing: border-box;
}

.tip-panel p {
    padding: 10px 10px;
}

.link-to-more {
    width: 90%;
    text-align: right;
    
}

.link-to-more a {
    text-decoration: none;
    color: inherit;
    
    padding: 3px;
}

.link-to-more a:hover {
    border: 1px solid lightgray;
    border-radius: 5px;
}

@media screen and (max-width:1024px) {

    body {
        height: 100%;
    }
    
    #container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;
        margin-bottom: 50px;
        height: auto;
    }

    .tip-panel {
        max-width: 95%;
        width: 80%;
        height: 23%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0;
    }

    .tip-panel img {
        margin: 10px;
        height: 30vh;
        max-width: 50%;
        min-width: 50%;
        object-fit: contain;
    }

    .tip-panel .heading-and-text {
        text-align: left;
        width: 50%;
        margin: 10px 0;
    }

    .tip-panel p {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .tip-panel {
        width: 95%;
        font-size: 0.8rem;
    }

    .tip-panel img {
        height: 90%;
        max-width: 40%;
        min-width: 40%;
    }

    
}

@media screen and (max-width: 480px) {
    .tip-panel .heading-and-text {
        text-align: left;
        width: auto;
        margin: 5px 0;
    }
}

/* FORM STYLING */

form {
    text-align: center;
    color: silver;
    font-size: 1.2rem;
    margin-bottom: 60px;
}

.fieldset-holder {
    width: 60vw;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 10px;
    margin: 20px auto;
    box-sizing: border-box;
    text-align: center;
}

fieldset {
    border-color: gray;
    line-height: 150%;
    border-radius: 10px;
    height: 100%;
    padding: 5px 10px;
    text-align: left;
}

fieldset > * {
    margin-left: 1vw;
    margin-bottom: 0.5rem;
}

legend {
    color: gray;
}

#personal-details label {
    display: inline-block;
    min-width: 100px;
}


#personal-details input,
#personal-details select,
textarea {
    background-color: #222233;
    color: silver;
    font-size: 1.1rem;
}

textarea {
    width: 90%;
}

.radiobutton-holder {
    margin-top: 5px;
}
.radiobutton-label {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 2px 7px;
    background-color: #444444;
    border: 1px solid #777777;
    user-select: none;
}

input[type='submit'] {
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 2px 7px;
    background-color: silver;
    border: 1px solid #777777;
}

input[type='submit']:hover {
    background-color: white;
}

.fieldset-holder i {
    margin-top: 10px;
    font-size: 200%;
}

.rating label {
    padding: 0 15px;
    font-weight: bolder;
    color: black;
}

.rating #red {
    background-color: red;
}

.rating #orange {
    background-color: orange;
}

.rating #yellow {
    background-color: yellow;
}

.rating #darkgreen {
    background-color: darkgreen;
}

.rating #lightgreen {
    background-color: lightgreen;
}

.rating input:checked + label {
    border: 4px groove silver;
    font-weight: bolder;
}

input[type='radio'] {
    visibility: hidden;
    width: 0;
    padding: 0;
    margin: 0;
}

.rating {
    display: inline-block;
}

@media screen and (max-width:768px) {
    .fieldset-holder {
        width: 90vw;
        font-size: 0.8rem;
    }

    input[type='submit'] {
        font-size: 1rem;
    }
}

/* CORPORATE CONTACT STYLING */

#row {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
}

.consultation-panel {
    width: 20%;
    flex: 1;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 10px;
    margin: 10px 10px;
    box-sizing: border-box;
}

.consultation-panel h2 {
    color: white;
}

.consultation-panel img {
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
}

.consultation-panel p {
    width: 90%;
    text-align: left;
    margin: 0 auto;
    padding: 0 5px;
}

#corporate-contact-form .fieldset-holder {
    width: 50vw;
    margin: 0 auto;
}

#company-contact-info label {
    display: inline-block;
    text-align: right;
    min-width: 100px;
}

@media screen and (max-width:1024px) {
    #row {
        width: 70vw;
    }

}

@media screen and (max-width:768px) {
    #row {
        width: 90vw;
    }

}

@media screen and (max-width:600px) {
    #row {
        width: 80vw;
        flex-direction: column;
    }

    .consultation-panel {
        width: 100%;
        /* flex: 1; */
        box-sizing: border-box;
        margin: 10px 0;
    }

    #corporate-contact-form .fieldset-holder {
        width: 95vw;
        margin: 0 auto;
    }

}

@keyframes ripples-fade-out {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes text-fade-in {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}