* {
    margin: 0;
    padding: 0;
}

* body {
    background-image: url('../images/clouds.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Barlow Condensed', sans-serif;
    color: silver;
}

/* HEADER STYLING - common to all pages */

header {
    width: 100%;
    height: 15vh;
    font-size: 150%;
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.8));
}

#top-nav-bar h1 {
    font-family: 'Barlow', sans-serif;
    margin-right: 50px;
    float: right;
}

#top-nav-bar li {
    float: right;
    margin-right: 40px;
    list-style-type: none;
}

#top-nav-bar a {
    text-decoration: none;
    color: inherit;
}

#top-nav-bar a:hover {
    border-bottom: 1px solid silver;
}

/* FOOTER STYLING - Common to all pages */
footer {
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.8));
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: fixed;
    bottom: 0;
    font-size: 120%;
    padding: 20px 20px;
}

#copyright-message {
    font-style: italic;
    float: left;
}

#social-links {
    float: right;
    font-size: 150%;
}

#social-links i {
    margin-right: 10vw;
}