/* SITE-WIDE GENERAL STYLE RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url('../images/coins.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
    color: silver;
    background-color: black;
}

.no-text-background {
    background-image: url('../images/ripples.png');
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
.active {
    border-bottom: 1px solid silver;
}

li {
    list-style-type: none;
}


/* MAIN OVERLAY IMAGE AND USER QUESTION */

#blended-image {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

#ripples-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: ripples-fade-out;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

#user-question {
    position: absolute;
    text-align: center;
    font-weight: bolder;
    left: 3vw;
    top: 3vw;
    right: 35%;
    font-size: 2vw;
    opacity: 0;
    background-image: radial-gradient(rgb(108, 108, 108, 0.8),
            /* rgb(108, 108, 108, 0.2),                 */
            rgb(108, 108, 108, 0.01));
    animation-name: text-fade-in;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#user-question p {
    font-size: 1.4rem;
}

@media screen and (max-width:768px) {
    #user-question {
        top: 40%;
        bottom: 50%;
        left: 10%;
        right: 10%;
    }

    #user-question h1 {
        font-size: 6vw;
    }

    #user-question p {
        font-size: 1rem;
    }
}


/* HEADER STYLING - common to all pages */
header {
    width: 100%;
    height: 10vh;
    background-color: black;
}

#title-and-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#site-icon-link {
    height: 80%;
    margin-left: 30px;
}

#title-and-logo img {
    height: 100%;
}

#title-and-logo img:hover {
    content: url('../images/site_icon_brighter.png')
}

#site-icon-link:hover {
    border: none;
}

nav li {
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 30px;
    height: 10vh;
    line-height: 10vh;
}

@media screen and (max-width: 600px) {
    header {
        font-size: .75rem;
    }

    #site-icon-link {
        height: 60%;
        margin-left: 10px;
    }

    nav li {
        font-size: 0.8rem;
        margin-right: 10px;
    }
}


/* FOOTER STYLING - Common to all pages */

footer {
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 60px;

    line-height: 60px;
    position: fixed;
    bottom: 0;
}

#copyright-message {
    font-style: italic;
    float: left;
    padding-left: 2vw;
}

#social-links {
    font-size: 1.7rem;
    float: right;
}

#social-links i {
    margin-right: 12vw;
}

#social-links a:hover {
    border: none;
}

@media screen and (max-width:600px) {
    #copyright-message {
        font-size: 0.8rem;
    }

    #social-links {
        font-size: 1.2rem;
    }

    #social-links i {
        margin-right: 20px;
    }

    footer span {
        display: none;
    }
}


/* SITE RATIONALE */
#site-rationale {
    position: absolute;
    width: 30vw;
    text-align: center;
    right: 0;
    line-height: 150%;

}

#user-welcome {
    background-color: rgb(100, 0, 0, 0.7);
    padding: 15px;
}

/* .user-message {
    padding: 10px 10px;
    margin: 0 auto;
} */

.user-message h2 {
    font-weight: bolder;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #site-rationale {
        width: 40vw;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 600px) {
    #site-rationale {
        width: 100%;
        line-height: 120%;
    }
}


/* NAVIGATION ICONS */

#navigation-section {
    width: 100%;
    position: fixed;
    bottom: 90px;
    text-align: center;
    color: black;
}

#navigation-section h1 {
    margin-bottom: 10px;
    color: silver;
    font-size: clamp(0.7rem, 2vw, 3rem);
}

#navigation-icons {
    padding: 10px 0;
    display: inline-block;
    font-size: clamp(1rem, 3vw, 3rem);
    background-color: silver;
    border-radius: 10px;
    border: 1px solid #444444;
}

#navigation-icons i {
    padding: 10px;
    color: silver;
    border-radius: 10px;
    background-color: rgba(148, 79, 15, 0.5);
}

#navigation-icons div {
    display: inline-block;
    width: 25vw;
}

#navigation-icons a:hover i {
    background-color: rgb(255, 160, 30, 0.5);
}


/* STYLE RULES COMMON TO driving.html and household.html*/

#container {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 60px;
}

.tip-panel {
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    height: 100%;
    max-width: 23%;
    width: 23%;
    margin: 0 20px;
    text-align: center;
    overflow-wrap: break-word;
    border-radius: 10px;
    font-size: 1.0rem;
    overflow: auto;
    position: relative;
}

.tip-panel h1 {
    text-align: center;
}

.tip-panel p,
.tip-panel li {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.tip-panel img {
    height: 50%;
    max-width: 80%;
    min-width: 80%;
    margin: 5% 20px;
    object-fit: contain;
    box-sizing: border-box;
}

.tip-panel p {
    padding: 5px 10px;
}

.tip-comment {
    text-align: center;
    font-weight: bolder;
}

.link-to-more {
    position: absolute;
    width: 90%;
    text-align: right;
    bottom: 10px;
    right: 10px;
}

.link-to-more a {
    text-decoration: none;
    color: inherit;

    padding: 3px;
}

.link-to-more a:hover {
    border: 1px solid lightgray;
    border-radius: 5px;
}

@media screen and (max-width:1024px) {

    body {
        height: 100%;
    }

    #container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;
        margin-bottom: 50px;
        height: auto;
    }

    .tip-panel {
        max-width: 95%;
        width: 80%;
        height: 23%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0;
    }

    .tip-panel img {
        margin: 10px;
        height: 30vh;
        max-width: 50%;
        min-width: 50%;
        object-fit: contain;
    }

    .tip-panel .heading-and-text {
        text-align: left;
        width: 50%;
        margin: 10px 0;
    }

    .tip-panel p {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .tip-panel {
        width: 95%;
        font-size: 0.8rem;
    }

    .tip-panel img {
        height: 90%;
        max-width: 40%;
        min-width: 40%;
    }


}

@media screen and (max-width: 480px) {
    .tip-panel .heading-and-text {
        text-align: left;
        width: auto;
        margin: 5px 0;
    }
}


/* FORM STYLING */

form {
    color: silver;
    font-size: 1.3rem;
    margin: 20px auto 80px auto;
    width: fit-content;
    text-align: center;
}

.fieldset-holder {
    padding: 5px 15px 15px 15px;
    background-image: radial-gradient(#00000022, #00000077);
    border-radius: 10px;
    margin: 20px auto;
    box-sizing: border-box;
}

fieldset {
    border-color: gray;
    line-height: 150%;
    border-radius: 10px;
    height: 100%;
    padding: 5px 10px;
    text-align: left;
}

fieldset > * {
    margin-left: 1vw;
    margin-bottom: 0.5rem;
}

legend {
    color: silver;
    font-size: 0.9rem;
}

.personal-details {
    width: 100%;
}

.personal-details label {
    width: 15%;
    display: inline-block;
}

.personal-details input {
    max-width: 80%;
}

textarea {
    max-width: 90%;
}

.personal-details input,
textarea {
    background-color: rgba(65, 34, 6, 0.5);
    font-size: 1.3rem;
    padding: 5px;
    margin: 5px 0;
    color: white;
    border-radius: 5px;
}

#suggestions {
    display: block;
    margin-top: 15px;
    width: 100%;
}

input[type='submit'] {
    color: silver;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px 7px;
    background-color: rgba(148, 79, 15, 0.5);
    border: 1px solid #777777;
}

input[type='submit']:hover {
    background-color: rgba(148, 79, 15, 0.8);
}

.fieldset-holder i {
    margin-top: 10px;
    font-size: 200%;
}

@media screen and (max-width:768px) {
    .fieldset-holder {
        width: 95vw;
        font-size: 0.8rem;
    }

    .personal-details input,
    textarea,
    input[type='submit'] {
        font-size: 0.8rem;
    }
}

@keyframes ripples-fade-out {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.4;
    }
}

@keyframes text-fade-in {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}